.bundle
.DS_Store
.sass-cache
.gist-cache
.pygments-cache
.flickr-cache
_deploy
public
sass.old
source.old
source/_stash
source/stylesheets/screen.css
source/resume/*
vendor
node_modules
.themes/darkstripes/
.tweet-cache/
