$img-border: inline-image('dotted-border.png');

$orange: #e1580f;

// Main Link Colors
$link-color: #e1580f !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$page-bg: #ffffff !default;
$article-border: #eeeeee !default;

$header-bg: #ffffff !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: $orange !default;
$subtitle-color: #999 !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: #ffffff !default;
$nav-bg-back: #ffffff;
$nav-color: darken($nav-bg, 38) !default;
$nav-color-hover: $link-color-hover !default;
$nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
$nav-border: darken($nav-bg, 10) !default; 
$nav-search: darken($nav-bg, 5) !default; 

/* Sidebar colors */
$sidebar-bg: #ffffff !default;
$sidebar-link-color: $link-color !default;
$sidebar-link-color-hover: $link-color-hover !default;
$sidebar-link-color-active: $link-color-active !default;
$sidebar-color: change-color(mix($text-color, $sidebar-bg, 80), $hue: hue($sidebar-bg), $saturation: saturation($sidebar-bg)/2) !default;
$sidebar-border: desaturate(darken($sidebar-bg, 7), 10) !default;
$sidebar-border-hover: darken($sidebar-bg, 7) !default;
$sidebar-link-color-subdued: lighten($sidebar-color, 30) !default;
$sidebar-link-color-subdued-hover: $sidebar-link-color-hover !default;
$twitter-status-link: lighten($sidebar-link-color-subdued, 15) !default;

$footer-color: $text-color;
$footer-bg: $nav-bg;
$footer-bg-back: $nav-bg-back;
$footer-color: $nav-color;
$footer-color-hover: $nav-color-hover;
$footer-border-top: $nav-border;
$footer-border-bottom: none;
$footer-link-color: $nav-color;
$footer-link-color-hover: $nav-color-hover;
$page-border-bottom: none;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
aside.sidebar a {
  @include link-colors($sidebar-link-color, $hover: $sidebar-link-color-hover, $focus: $sidebar-link-color-hover, $active: $sidebar-link-color-active);
}

html {
  background: $page-bg;
}
body {
  > #main {
    border-bottom: 1px solid $page-border-bottom;
    > #content {
      border-right: 1px solid $sidebar-border;
    }
  }
}

.notfound404 article{
  margin-left: 0 !important;
}

@media only screen and (min-width: 550px) {

  body > header h2 { padding-left: 3px; }

  body > footer { margin-bottom: 3em; }
}
