body > header {
  h1 {
    display: inline-block;
    background: url('/images/avatar.png') no-repeat 0 0;
    margin-bottom: 0px;
    font-size: 25px;
    min-height: 48px;
    a, a:visited, a:hover {
      display: inline-block;
      padding-left: 60px;
      padding-top: 6px;
      padding-bottom: 14px;
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    @extend .sans;
    color: $subtitle-color;
    font-weight: normal;
    margin: -15px 0px 0px 60px;
  }
  @media only screen and (min-width: 480px) {
    h2 {
      display: inline-block;
      margin: 0px 0px 0px 5px;
    }
  }
}
