body > header {
  text-align: center;
  padding-left:0;
  h1 {
    display: inline-block;
    text-align: center;
    background: url('/images/avatar.png') no-repeat 0 0;
    padding-left: 60px;
    margin-bottom: 0px;
    font-size: 2em;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    text-align: center;
    @extend .sans;
    font-size: 0.6em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
