// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.flickr-set {
  text-align: center;
}

.flickr-set figure {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 2em;
  vertical-align: middle;
}

.flickr-thumbnail figcaption {
  display: none;
}

.flickr-link {
  padding-left: 18px;
  background: url('/images/flickr-icon.png') center left no-repeat;
}

/* TODO integrate this with fancybox css */
.fancybox-title, .fancybox-title h5 {
  font-family: $sans;
  text-align: center;
  max-height: 4em;
  overflow-y: scroll;
}

.fancybox-title h5 {
  margin-bottom: 0px;
}



td.gutter {
  width: 3px;
  background: none; // #e0e0e0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

td.gutter pre {
  overflow: hidden;
}

figure.code:hover td.gutter {
  width: auto;
}

h3 {
  margin-top: 1.5em;
}


/* FancyBox Galleries */
$rad: 6px;
ul.gallery {
  border: thin solid gray;
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
  text-align: center;
  padding: 5px;
  li {
    display: inline;
      padding: 5px;
    }
}

.hidden {
  display: none;
}


