// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.flickr-set, .gallery {
  text-align: center;
}

.flickr-set figure, .gallery li {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 2em;
  vertical-align: middle;
}

.gallery li {
  list-style-type: none;
}

.flickr-thumbnail figcaption {
  display: none;
}

.flickr-link {
  padding-left: 18px;
  background: url('/images/flickr-icon.png') center left no-repeat;
}

/* customization for fancybox */
/* fonts  and layout */
.fancybox-title, .fancybox-title h5 {
  font-family: $sans;
  text-align: center;
  max-height: 6em;
  overflow-y: scroll;
}

.fancybox-title h5 {
  margin-bottom: 0px;
}

/* always show navigation */
.fancybox-nav {
  width: 60px;       
}

.fancybox-nav span {
  visibility: visible;
  opacity: 0.20;
}

.fancybox-nav:hover span {
  opacity: 1;
}

.fancybox-next {
  right: -100px;
}

.fancybox-prev {
  left: -100px;
}


td.gutter {
  width: 3px;
  background: none; // #e0e0e0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

td.gutter pre {
  overflow: hidden;
}

figure.code:hover td.gutter {
  width: auto;
}

h3 {
  margin-top: 1.5em;
}

/*
figure.video-preview:after {
  content: 'hi there!';
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  text-shadow: 0.1em 0.1em #000
}
*/

.alert {
  padding: 1em;
  background: #fff0e0;
  font-style: italic;
  text-align: center;
}
