// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.flickr-set, .gallery {
  text-align: center;
}

.flickr-set figure, .gallery li {
  display: inline-block;
  margin-right: 2em;
  margin-bottom: 2em;
  vertical-align: middle;
}

.gallery li {
  list-style-type: none;
}

figcaption {
  font-size: smaller;
  line-height: 1.6em;
}

.illustration figcaption {
  max-width: 40em;
}

.flickr-thumbnail {
  box-sizing: content-box;
}

.flickr-thumbnail .description {
  display: none;
}

.flickr-thumbnail h5 {
  font-size: xx-small;
  font-family: $sans;
  text-align: center;
}

.flickr-set figcaption {
  display: none;
}

/* customization for fancybox */
/* fonts  and layout */
.fancybox-title, .fancybox-title h5 {
  font-family: $sans;
  text-align: center;
}

.fancybox-title {
  max-height: 6em;
  overflow-y: auto;
}

.flickr-thumbnail h5, .fancybox-title h5 {
  margin-bottom: 0px;
}

.fancybox-title .flickr-link {
  padding-left: 18px;
  background: url('/images/flickr-icon.png') center left no-repeat;
}


/* always show navigation */
.fancybox-nav {
  width: 60px;       
}

.fancybox-nav span {
  visibility: visible;
  opacity: 0.20;
}

.fancybox-nav:hover span {
  opacity: 1;
}

.fancybox-next {
  right: -100px;
}

.fancybox-prev {
  left: -100px;
}


td.gutter {
  width: 3px;
  background: none; // #e0e0e0;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}

td.gutter pre {
  overflow: hidden;
}

figure.code {
  @include box-shadow(none);
  @include box-sizing(content-box);
  &:hover td.gutter {
    width: auto;
  }
}

h3 {
  margin-top: 1.5em;
}

/*
figure.video-preview:after {
  content: 'hi there!';
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  color: white;
  text-shadow: 0.1em 0.1em #000
}
*/

.alert {
  padding: 1em;
  background: #fff0e0;
  font-style: italic;
  text-align: center;
}

.noborder, figure img, figure video, figure .flash-video {
  @include border-radius(0px);
  @include box-shadow(none);
  @include box-sizing(content-box);
  border: none;
}

/* otherwise, defaults to bottom, but leaves space for the 
   descenders in the otherwise empty anchor */
figure a img, figure a video, figure a .flash-video {
  vertical-align: middle;
}


.btn {
  display: inline-block;
  padding: 0.25em 0.75em;
  margin-bottom: 0;
  line-height: 1.5em;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  @include border-radius(4px);
  box-shadow: 0 1px 4px #bbb;
  cursor: pointer;
}

.btn-group {
  margin-bottom: 0.5em;
}

.btn-group > .btn {
  @include border-radius(0px);
  border-right: none;
}
// pillbox button groups (cherokee post)
.btn-group > input {
  display: none;
}

.btn-group input:first-child + label.btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}

input:checked + label.btn {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset;
  background-color: #cccccc;
}

.btn-group label.btn:last-child  {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

input[disabled] + label.btn {
  color: #999999;
  background-color: #E6E6E6;
  background-image: none;
  cursor: default;
}
